body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(45deg, #30312c 0%, #7a7a7a 100%);
  color: white;
  background-image: url("e237a70d698e57a7948d957f475005ed.jpg");
  min-height: 100vh;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.stars {
  top: 0;
  left: 0;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
.login-container h2 {
  margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
.login-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.login-container input[type="submit"]:hover {
  background-color: #45a049;
}
